[submodule "submodules/punkapi-db"]
    path = submodules/punkapi-db
    url = https://github.com/stuartraetaylor/punkapi-db
    branch = fix-recipes
[submodule "submodules/beerxml"]
    path = submodules/beerxml
    url = https://github.com/stuartraetaylor/BeerXML-Standard.git
    branch = master
[submodule "submodules/brewerwall-yeasts"]
	path = submodules/brewerwall-yeasts
	url = https://github.com/brewerwall/yeasts.git
	branch = master
