[submodule "submodules/punkapi-db"]
    path = submodules/punkapi-db
    url = https://github.com/stuartraetaylor/punkapi-db
    branch = fix-recipes
[submodule "submodules/beerxml-schema"]
    path = submodules/beerxml-schema
    url = https://github.com/stuartraetaylor/BeerXML-Standard.git
    branch = master
[submodule "submodules/brewerwall-yeasts"]
    path = submodules/brewerwall-yeasts
    url = https://github.com/brewerwall/yeasts.git
    branch = master
[submodule "hops-json"]
    path = submodules/hops-json
    url = https://github.com/stuartraetaylor/hops-json.git
    branch = master
    shallow = true
